<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div>
    <h3>댓글 달기</h3>
    <form action="{% url 'post_list' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="input-comment">댓글</label>
            <textarea name="comment" id="input-comment" cols="300" rows="10" class="form-control">
                {{ comment }}
            </textarea>
        </div>
        <button class="btn btn-primary btn-block">댓글 보기</button>
    </form>
</div>


</body>
</html>