{% extends 'base.html' %}

{% block content %}
<div>
    <h3>댓글 달기</h3>
    <form action="{% url 'post_list' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="input-comment">댓글</label>
            <textarea name="comment" id="input-comment" cols="300" rows="10" class="form-control">
                {{ form }}
            </textarea>
        </div>
        <button class="btn btn-primary btn-block">댓글 보기</button>
    </form>
</div>

{% endblock %}